/*Morgan Brown  
Student ID: AC1908666
Lesson Name: Final Graded Project: HTML Coding
Morganbrown24@outlook.com */

body{ background-image: url("../OrderOnlineIMG/restaurant-table-with-glasses.jpg");
    background-repeat: no-repeat;
background-position: center;
background-size: cover;

}
nav ul{
    list-style-type: none;
    background-color: gray;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: solid white;
    height: 5%;
    width: 80%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 40px;
    margin-left: 10%;
}
nav li a{
    display:inline;
    color: white;
    text-align: center;
    padding:14px 16px; 
    text-decoration: none;
    font-weight: bolder;
}
nav li{
    display: block;
    margin-right: 10px;
    float:left;
}







footer{
    background-color: grey;
    color: white;
    border: solid white;
}
footer a{
    text-decoration: none;
    color:red;
}
