/*Morgan Brown  
Student ID: AC1908666
Lesson Name: Final Graded Project: HTML Coding
Morganbrown24@outlook.com */
body{
background-color: black;
font-family: Arial, Helvetica, sans-serif;
background-image: url("../specialIMG/wine-with-steak-dinners.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
nav ul{
    list-style-type: none;
    background-color: gray;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: solid white;
    height: 5%;
    width: 80%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-block-start: 40px;
    margin-left: 10%;
}
nav li a{
    display:inline;
    color: white;
    text-align: center;
    padding:14px 16px; 
    text-decoration: none;
    font-weight: bolder;
}
nav li{
    display: block;
    margin-right: 10px;
    float:left;
}

#wine{
    border: 7px outset red;
    width: 25%;
    height: 80%;
    margin-top: 10%;
    margin-left: 40%;
    background-color: grey;
    color: white;
    text-align: center;
}
h1{
    text-decoration: underline;
    color: black;
}
.red{
    color:red;
}

.cost{
    color: red;
    font-weight: bolder;
}
#whiteWine{
    border: 7px outset red;
    width: 25%;
    height: 80%;
    background-color: grey;
    color: white;
    text-align: center;
    position: relative;
    margin-left: 40%;
}
#dessert{
    position: center;
    margin-left: 40%;
 
    border: 7px outset red;
    width:25%;
    height: 80%;
    background-color: grey;
    color: white;
    text-align: center;
}
img{
 width: 35%;
 border: 5px outset black;
}


footer{
    background-color: grey;
    color: white;
    border: solid white;
    margin-top: 5%;
}
footer a{
    text-decoration: none;
    color:red;
}

